body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: black;
    transition: background-color 0.5s ease;
    transition: color 1s ease;
}

button {
    background-color: inherit;
    border: none;
    font: inherit; /* Forces all buttons to use the page's font settings */
    cursor: pointer; /* Gives it the little hand icon on hover */
    color: inherit; /* Inherits the font color of it's parent */
}

ul {
  list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.hidden {
    display: none;
}

.top-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-left-container {
    padding-left: 50px; 
}

.top-right-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px; /* Space between flex box elements */
    padding: 20px; /* Ensures there is 20px between all edges of flex box and the elements themselves */
    box-sizing: border-box;
}

.top-right-container-elements {
    border: none;
    transition: transform 0.3s ease;
}

.top-right-container-elements:hover {
    transform: scale(1.1);
}

.social-link-logo {
    border-radius: 12.5px;
}


#internship-list {
    display: flex;
    align-items: center;
}

#research-experience-list {
    display: flex;
    align-items: center;
}

.internship-list-element {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.research-experience-list-element {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}